DiodFig BITMAP "diod.bmp"
ConstFig BITMAP "const.bmp"
LinearFig BITMAP "linear.bmp"
QuadraticFig BITMAP "quadratic.bmp"
ExponentFig BITMAP "exponent.bmp"
SmoothingFig BITMAP "smoothing.bmp"
MedianFig BITMAP "median.bmp"
DerivativeFig BITMAP "derivative.bmp"
GromovFig BITMAP "gromov.bmp"
IvanovFig BITMAP "ivanov.bmp"
DiodLSMFig BITMAP "diod.bmp"
PhotoDiodFig BITMAP "photodiod.bmp"
PhotoDiodLSMFig BITMAP "photodiod.bmp"
DiodLamFig BITMAP "diodLam.bmp"
PhotoDiodLamFig BITMAP "photodiodLam.bmp"
DiodTwoFig BITMAP "diodtwo.bmp"
DiodTwoFullFig BITMAP "diodtwofull.bmp"
DGausFig BITMAP "dgaus.bmp"
LinEgFig BITMAP "lineg.bmp"
DoubleDiodFig BITMAP "doublediod.bmp"
DoubleDiodLightFig BITMAP "doublediodlight.bmp"
RevZrizFig BITMAP "revzriz.bmp"
RevZriz2Fig BITMAP "revzriz2.bmp"
RevZriz3Fig BITMAP "revzriz3.bmp"
RevShSCLCFig BITMAP "revshsclc.bmp"
RevShSCLC2Fig BITMAP "revshsclc2.bmp"
RevShSCLC3Fig BITMAP "revshsclc3.bmp"
Power2Fig BITMAP "power2.bmp"
TunnelFig BITMAP "tunnel.bmp"
RevShFig BITMAP "revsh.bmp"
BrailsfordFig BITMAP "brailsford.bmp"
CibilsFig BITMAP "cibils.bmp"
CheungFig BITMAP "cheung.bmp"
ExpForFig BITMAP "ExpFor.bmp"
ExpRevFig BITMAP "ExpRev.bmp"
Ivanov2Fig BITMAP "ivanov2.bmp"
WernerFig BITMAP "werner.bmp"
HfuncFig BITMAP "hfunc.bmp"
MikhelashviliFig BITMAP "mikhelashvili.bmp"
LeeFig BITMAP "lee.bmp"
Gromov1Fig BITMAP "gromov1.bmp"
Gromov2Fig BITMAP "gromov2.bmp"
Kam1Fig BITMAP "kam1.bmp"
Kam2Fig BITMAP "kam2.bmp"
NssFig BITMAP "nss.bmp"
ExFig BITMAP "ex.bmp"
NordeFig BITMAP "norde.bmp"
BohlinFig BITMAP "bohlin.bmp"